.login{
background-color: brown;
border-radius: 20px;
margin-left: 400px;
margin-right: 500px;
margin-top: 200px;
padding-bottom:  100px;
text-align: center;
}
.div1{
    text-align: center;
}
.ll{
    background-color: rgb(142, 104, 48);
margin: 10px 0px 0px 00px;
border-radius: 20px;
padding: 10px; ;
}